[flake8]
max-line-length=120
exclude=.git,__pycache__,docs/source/conf.py,old,build,dist,.venv,src,venv,docs/conf.py
application-import-names=qag_pegasus
import-order-style=google
filename=./qag_pegasus/*.py
ignore=E203,W503
